@import "../node_modules/@syncfusion/ej2-base/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/tailwind3.css";
@import "../node_modules/@syncfusion/ej2-react-navigations/styles/tailwind3.css";

.header {
  width:100%;
 height: 40px;
 font-size:20px;
 line-height: 40px;
 font-weight: 500;
 background: #eee;
 display: inline-block;
}

.e-main-content{
text-align:center;
height:100vh;
background: #f5f5f5; 
font-size: 15px;
padding:100px;
}


.title {
 text-align: center;
 font-size: 20px;
 padding: 15px; 
}


#default,#default1 {
 background-color: rgb(25, 118, 210);
 color: #ffffff;
 overflow:hidden;
}