#loader {
    color: #008cff;
    font-family: 'Helvetica Neue', 'calibiri';
    font-size: 14px;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}


#signature-control {
    height: 250px;
  }
  
  #signature-base-control {
    height: 300px;
    width: 550px;
  }
  
  #signature {
    border: 1px solid lightgray;
    height: 100%;
    width: 100%;
  }
  
  #input {
    margin-bottom: 30px;
  }
  
  #text {
    height: 30px;
    width: 350px;
    margin-right: 20px;
  }