/* Represents the styles for loader */
#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.aiAssistContainer {
    height: 350px;
    width: 650px;
}
#addObjectResponse {
    margin-bottom: 10px;
}