.custom .foot {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    font-weight: bold;
}

.custom .e-ddt-footer {
    border-top: 1px solid #e0e0e0;
}