/* Represents the styles for loader */
#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.integration-texttotpeech-section {
  height: 350px;
  width: 650px;
  margin: 0 auto;
}

.integration-texttotpeech-section .e-view-container {
  margin: auto;
}
.integration-texttotpeech-section .e-banner-view {
  margin-left: 0;
}
.integration-texttotpeech-section .banner-content .e-audio:before {
  font-size: 25px;
}

.integration-texttotpeech-section .banner-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}