#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.e-de-statusbar-zoom {
  float: right;
  text-align: center;
  padding: 2px;
  line-height: 19px;
  margin-top: 1px;
}

#page {
  margin: 6px 2px 0 0;
}

#editablePageNumber {
  border: 1px solid #F1F1F1;
  display: inline-flex;
  height: 17px;
  padding: 0 4px;
}

#documenteditor_page_no {
  text-transform: capitalize;
  white-space: pre;
  overflow: hidden;
  user-select: none;
  cursor: text;
  height: 17px;
  max-width: 150px;
}

#of {
  margin: 0 0 0 2px;
  letter-spacing: 1.05px;
}

#documenteditor_pagecount {
  margin: 0 0 0 2px;
  letter-spacing: 1.05px;
}