/* Represents the styles for loader */
#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.banner-content {
    text-align: center;
}
#aiAssistView .e-view-container {
    margin: auto;
}
#aiAssistView .e-banner-view {
    margin-left: 0;
}
.banner-content .e-assistview-icon:before {
    font-size: 35px;
}