/* To change the background-color and text-color for textbox */ 
.e-float-input.e-input-group input, .e-float-input.e-input-group.e-control-wrapper input,
.e-input-group input.e-input, .e-input-group.e-control-wrapper input.e-input { 
  background : lightgray;
  color: green;
}

/* To change the border-color of the textbox */ 
.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left) {
  border-color: #0800ff;
}

/* To change the border-color of the floating-label textbox */ 
.e-float-input input,
.e-float-input:hover:not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled) input:not([disabled]) {
    border-color: #0800ff;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}
#input-container {
  width: 240px;
  margin: 0 auto;
  padding: 20px 0px;
}

.wrap {
box-sizing: border-box;
margin: 0 auto;
padding: 20px 10px;
width: 260px;
}

.wrap label {
font-weight:bold;
}

.wrap .e-float-input {
 margin:30px 0;
}

.wrap .e-input-group {
 margin:25px 0;
}