#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
} 

#container {
    margin: 20px auto;
}
.emptychat-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.e-ai-chat{
    margin-top:10px;
    font-size:18px;
}
.e-chat-ui .e-message-content p {
    margin: 0;
    display: inline-block;
}
.e-assistview-icon{
    font-size: 24px;
}