/* Represents the styles for loader */
#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.custom-connector .state-initial.e-connector::after {
  border: 1.5px #f8c050 dashed;
}
.custom-connector .state-intermediate.e-connector::after {
  border: 1.5px #4d85f5 dashed;
}