.e-list-icon {
  line-height: 1.3;
  padding-right: 10px;
  text-indent: 5px;
}

.asc-sort:before {
  content: '\e7a0';
  font-family: 'e-icons';
  font-size: 20px;
}
.dsc-sort:before {
  content: '\e707';
  font-family: 'e-icons';
  font-size: 20px;
}z
.filter:before {
  content: '\e7f7';
  font-family: 'e-icons';
  font-size: 20px;
  opacity: 0.78;
}
.clear:before {
  content: '\e7e7';
  font-family: 'e-icons';
  font-size: 20px;
}
