#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  font-family: 'Helvetica Neue','calibiri';
  font-size: 14px;
  top: 45%;
  left: 45%;
}
.code-editor #code-text {
    margin-left: 5px;
}
.code-editor .code-preview {
    margin-top: 15px;
    font-size: 12px;
}
.code-editor .h3 {
    font-size: 14px;
    margin: 4px;
}
.code-editor .content {
    padding: 7px;
}
.code-editor .splitter-image {
    margin: 0 auto;
    display: flex;
    height: 115px;
    margin-top: 10px;
}

.splitter-horizontal.e-splitter.e-splitter-vertical  {
    border: none;
  }
