#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.container {
    margin: 0 auto;
    max-width: 500px;
    min-width: 350px;
}

#draggableTab .e-content .e-item {
    font-size: 12px;
    margin: 10px;
    text-align: justify;
}
