#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

#reorderMultipleCols {
  text-transform: none;
}

.e-grid .e-rowcell.customcss{
  background-color: #ecedee;
}

.e-grid .e-headercell.customcss{
  background-color: #ecedee;
}