#PivotViewFieldList {
  width: 58%;
  height: 100%;
  float: left;
}

.e-pivotfieldlist {
  width: 42%;
  height: 100%;
  float: right;
}

/* csslint ignore:start */

.e-pivotfieldlist .e-static {
  width: 100% !important;
}

/* csslint ignore:end */

.e-custom-class {
  color: #008cff;
  text-decoration: underline;
}

.e-custom-class:hover {
  color: red;
  text-decoration: none;
}
