#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#container {
    margin: 20px auto;
}

.empty-chat-text {
    font-size: 15px;
    text-align: center;
    margin-top: 90px;
}
