#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    font-family: 'Helvetica Neue', 'calibiri';
    font-size: 14px;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.wrap {
    margin: 0 auto;
    width: 240px;
}

.e-mask.e-style .e-control.e-maskedtextbox {
    color: #00ffff ;
    letter-spacing: 10px ;
    font-size: xx-large ;
    border: 1px ;
    border-color: #ffffff ;
}

.e-control-wrapper.e-mask.e-float-input.e-style .e-float-line::before {
    background: #ffffff ;
}

.e-control-wrapper.e-mask.e-float-input.e-style .e-float-line::after {
    background: #ffffff ;
}

.e-control-wrapper.e-mask.e-float-input.e-style .e-float-text.e-label-top {
    color: #00ffff ;
    font-size: medium ;
}