@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-base/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-buttons/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-calendars/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-dropdowns/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-grids/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-charts/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-inputs/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-lists/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-navigations/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-popups/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-splitbuttons/styles/tailwind3.css');
@import url('https://cdn.syncfusion.com/ej2/32.1.19/ej2-pivotview/styles/tailwind3.css');
