#loader {
	color: #008cff;
	height: 40px;
	left: 45%;
	position: absolute;
	top: 45%;
	width: 30%;
}

#chip-avatar .andrew {
	background-image: url('https://ej2.syncfusion.com/demos/src/chips/images/andrew.png')
}
  
#chip-avatar .margaret {
	background-image: url('https://ej2.syncfusion.com/demos/src/chips/images/margaret.png')
}
  
#chip-avatar .laura {
	background-image: url('https://ej2.syncfusion.com/demos/src/chips/images/laura.png')
}
  
#chip-avatar .janet {
	background-image: url('https://ej2.syncfusion.com/demos/src/chips/images/janet.png')
}