#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

.accordion-control-section {
    margin: 0 10% 0 10%;
}

@media screen and (max-width: 768px) {
    .accordion-control-section {
        margin: 0;
    }
}

.e-treeview .e-list-img {
width: 25px;
height: 25px;
}
/* Loading sprite image for TreeView */
.e-treeview .e-list-icon {
background-repeat: no-repeat;
background-image: url("./file_icons.png");
height: 20px;
}
/* Specify the icon positions based upon class name */
.e-treeview .e-text-content .folder { background-position: -10px -552px }
.e-treeview .e-text-content .docx { background-position: -10px -20px }
.e-treeview .e-text-content .ppt { background-position: -10px -48px }
.e-treeview .e-text-content .pdf { background-position: -10px -104px }
.e-treeview .e-text-content .images { background-position: -10px -132px }
.e-treeview .e-text-content .zip { background-position: -10px -188px }
.e-treeview .e-text-content .audio { background-position: -10px -244px }
.e-treeview .e-text-content .video { background-position: -10px -272px }
.e-treeview .e-text-content .exe { background-position: -10px -412px }
