#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}
.e-caret-up .e-caret::before {
  content: '\e918';
}

.e-dropdown-btn, .e-dropdown-btn.e-btn{
	margin: 25% 5px 20px 30%;
}
