#container {
    visibility: hidden;
}

#loader {
    color: #008cff;
    height: 40px;
    left: 45%;
    position: absolute;
    top: 45%;
    width: 30%;
}

#tooltipContent {
    font-size: 14px;
    padding: 0px 5px;
    font-weight: 400;
    line-height: 1.5;
}