#container {
    visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

.e-menu::before {
  content: '\e984';
}

button {
  margin: 25px 5px 20px 20px;
}