#container {
  visibility: hidden;
}

#loader {
  color: #008cff;
  height: 40px;
  width: 30%;
  position: absolute;
  font-family: 'Helvetica Neue', 'calibiri';
  font-size: 14px;
  top: 45%;
  left: 45%;
}

#element,
#list {
  display: block;
  margin: auto;
  border-radius: 3px;
}

#element {
  max-width: 280px;
}

#list {
  max-width: 400px;
  border: 1px solid #dddddd;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  align-items: center;
}

.grid-container>div {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #f4f4f4;
}

h3 {
  margin: 0;
}

.e-list-wrapper-right {
  display: flex;
  justify-content: flex-end;
}

.text-span {
  white-space: normal !important;
  max-width: 80%;
  padding: 10px !important;
  background-color: #e0e0e0;
  border-radius: 10px;
  word-wrap: break-word;
}