#loader {
  color: #008cff;
  height: 40px;
  left: 45%;
  position: absolute;
  top: 45%;
  width: 30%;
}

#container {
  visibility: hidden;
}

#target {
  border: 1px dashed;
  height: 150px;
  padding: 10px;
  position: relative;
  text-align: justify;
  color: gray;
  user-select: none;
}

#right {
  float: right;
  border: 1px dashed;
  height: 98%;
  width: 48%;
}

#left {
  float: left;
  border: 1px dashed;
  height: 98%;
  width: 48%;
}